  <div>
        1. Список товаров  <span style="color:blue">menu Products</span> <br>
2. Карточку товара <span style="color:blue">Admin/manage products/EDit</span>  <br>
3. Добавление в корзину <span style="color:blue">Products, button add to card</span> <br>
4. Удаление из корзины <span style="color:blue">Menu Cart, button Delete</span> <br>
5. Формирование заказа <span style="color:blue">Menu Cart, button Order</span> <br>
6. Админку (добавление/редактирование товара, количества, цены, ..., просмотр заказов). Админку защитить. Подгружать динамически, если у пользователя есть право работать как админ. <br>
7. Любую дополнительную интересную для Вас функциональность. (опишите, что Вы реализуете в ридми).<span style="color:blue">CartProductService - service using three services, using Subscription to link Services</span> <br>
8. Организуйте работу с localstorage/json files. <span style="color:blue">LocalCartService, cart is saved and loaded from localStorage</span> <br>
     </div>