<div class="panel panel-default">
	<div class="panel-body">
		<ul>
			<li>id: {{CartItem.cartItem.id}}</li>
            <li>Name: {{CartItem.product.name}}</li> 
            <li [ngClass]="{clearance : CartItem.onClearance} ">price: {{CartItem.product.price | currency:'EUR':true:'2.1-1'}} </li>
			<li>Quantity:  <input value="{{CartItem.cartItem.quantity}}" placeholder="quantity" #quantity/>Available:{{CartItem.product.quantity}}</li>
		</ul>
		<button (click)='updateQuantity({"quantity": quantity.value}); $event.stopPropagation()'>Update quantity</button>
		<button (click)='deleteItem(); $event.stopPropagation()'>Delete</button>
	</div>
</div>
