<div>
    <div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" routerLink="/">Task Manager</a>
            </div>

            <div>
              <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                  <a routerLink="/products/c">Products</a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/cart">Cart</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/admin">Admin</a>
                </li>
                  <li routerLinkActive="active">
     <a routerLink="/login">Login</a>
</li>

                <li routerLinkActive="active">
                  <!--<a routerLink="/about">About</a> -->
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="container">
          <router-outlet></router-outlet>
          <!-- Routed views go here -->
        </div>
    </div>
</div>


  <!--name: {{name}}
	- description: {{description}}
	- price: {{price}}
	- category: {{category}}
	- isAvailable: {{isAvailable}}<h3>

    <ul>
      <li *ngFor="let it of items">
        <ul>
          <li>Action: {{it}}</li>
        </ul>
      </li>
    </ul>

    <button (click)="onBuy()">buy</button>
    <div *ngIf="!isBasketEmpty">
      <h3>Basket!</h3>
    </div>
-->
<!--div>
  <div>Products</div>
  <div>
    <ul>
      <li *ngFor="let it of products">
        <ul>
          <li>id: {{it.id}}</li>
          <li>name: {{it.name}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div-->

<!--
 <div>
  <label>add product:</label> <input #productName />
  <button (click)="add(productName.value); productName.value=''">
    Add
  </button>
</div>     
-->
<!--div>
  <div>
    <app-cart></app-cart>
    </div>    
</div--> 
<!--
<ul>
<li>1. Применить один или более встроенных пайпов в Вашем приложении, например, 
  <p>
  - для форматирования цены. <span style="color:green">ЦЕНА в карте</span>
  </p>
<p>
  - для форматирования даты обновления <span style="color:green">дата апдейта карты</span>
  </p>
    <p>
  - для форматирования категории в верхний регистр
  </p>
</li> 
<li>2. Создать пользовательский пайп(ы) и применить его/их в Вашем приложении, например,
  - вывести 5 топ позиций по какому-то признаку<span style="color:green">Clearance list</span>
</li>  
<li>
3. Описать, что реализует пайп и где Вы их применили. <span style="color:green">Пайп ClearancePipe. применил для нахождения списка CartItem, у которых onClearance ==true</span>
</li>
</ul>

<app-cart-list ></app-cart-list>
-->
<!--<app-storage></app-storage>
<app-app-settings> </app-app-settings>   
<app-random-string></app-random-string>   -->