<div class="panel panel-default">
	<div class="panel-heading">Product</div>
	<div class="panel-body">
		<ul>
			<li *ngIf="!cartMode">id: {{product.id}}</li>
			<li>Name: {{product.name}}</li> 
			<li>Quantity: {{product.quantity}}</li>
			<li>price: {{product.price | currency:'USD':true:'2.1-1'}}</li>
		</ul>
		
		<button *ngIf="!cartMode" class="btn btn-warning btn-sm"
					(click)="editProduct()">			Edit		
		</button>
	    <span *ngIf="cartMode">
			<button *ngIf="!productInCart()"         
				class="btn btn-primary"
			(click)="addProductToCart()">Add to Cart
			</button>  
			<span *ngIf="productInCart()">already in cart
			</span>  
		</span>
	</div>
</div>

