<div class="panel panel-default">
	<div class="panel-heading">Product</div>
	<div class="panel-body">
		<ul>
			<li>Name: {{product.name}}</li> 
			<li>Quantity: {{product.quantity}}</li>
			<li>price: {{product.price | currency:'USD':true:'2.1-1'}}</li>
		</ul>
	  <span >
			<button *ngIf="!productInCart() && product.quantity>0"         
				class="btn btn-primary"
			(click)="addProductToCart()">Add to Cart
			</button>  
			<span *ngIf="product.quantity<=0">Not available
			</span>
			<span *ngIf="productInCart()">already in cart
			</span>  
		</span>
	</div>
</div>

